.entry {
  display: flex;
  flex-direction: column;
  background-color: #ddcea7;
  height: 700px;
  width: 350px;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 25px;
}

.entry__date {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin: 0;
}

.entry__title {
  font-size: 20px;
}

.entry__note-input {
  margin-bottom: 10px;
  border: 2px solid #01bfe4;
  border-radius: 10px;
  padding-left: 5px;
  height: 35px;
}

.entry__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry__link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry__link-input {
  margin-bottom: 10px;
  border: 2px solid #01bfe4;
  border-radius: 10px;
  padding-left: 5px;
  height: 35px;
}

.entry__image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry__image-input {
  margin-bottom: 10px;
  border: 2px solid #01bfe4;
  border-radius: 10px;
  padding-left: 5px;
  height: 35px;
}

.entry__gift-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.entry__btn-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.entry__btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ff657b;
  border: 2px solid #000;
}

.entry__btn-save {
  background-color: #f5f5f5;
}

.entry__gift-card-input {
  border: 2px solid #01bfe4;
  border-radius: 10px;
  padding-left: 5px;
  height: 35px;
}
