.toggle_switch {
  width: 60px;
  height: 30px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.toggle_switch:hover {
  border: 2px solid rgb(246, 8, 111);
}
.toggle_switch__checkbox {
  opacity: 0;
}
.toggle_switch__checkbox:checked + .toggle_switch__circle {
  left: 30px;
}

.toggle_switch__circle {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  background-color: #000000;
  border-radius: 50%;
  transition: all 0.4s;
}
