@font-face {
  font-family: "Poppins-med";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
}
.cards__list {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  list-style-type: none;
  max-width: 100%;
}

.cards__button-edit {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}

.cards__button-pencil-icon {
  display: none;
}

.cards__face {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: azure;
  width: 250px;
  height: 200px;
  border: 4px solid #01bfe4;
  border-radius: 16px;
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card__name {
  font-family: Poppins;
  font-size: 16px;
}

.card__relationship {
  font-family: "Poppins-med";
  font-size: 12px;
}

.cards__button-save {
  background: none;
  border: none;
  width: 100px;
  justify-content: center;
}

.avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96a7c5;
  }
  .cards__information {
    background-color: #593a16;
  }
  .cards__button-ellipsis {
    display: block;
    background: none;
    border: none;
  }
}
