@font-face {
  font-family: "Poppins-med";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

.cards__list {
  display: flex;
  flex-direction: row;
  background-color: #593a16;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
  list-style-type: none;
}

.cards__information {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  background-color: white;
  width: 250px;
  height: 200px;
}

.cards__button-ellipsis {
  display: none;
}

.card__name {
  font-family: "Poppins";
  font-size: 16px;
}

.card__relationship {
  font-family: "Poppins-med";
  font-size: 12px;
}

.avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #96a7c5;
  }
  .cards__information {
    background-color: #593a16;
  }
  .cards__button-ellipsis {
    display: block;
    background: none;
    border: none;
  }
}
