@font-face {
  font-family: "Poppins-med";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

.cards__list {
  display: flex;
  flex-direction: row;
  background-color: #593a16;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.cards__information {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 5px;
  background-color: white;
  width: 250px;
  height: 200px;
}

.card__name{
    font-family: Poppins;
    font-size: 16px;
}

.card__relationship{
    font-family: "Poppins-med";
    font-size: 12px;
}

.avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
