.acct-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #ddcea7;
}
.section-container {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}
.payment-method-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.payment-method-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.input-field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section-title {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}
.section-description {
  margin: 0 0 15px 0;
}
.section_sub-header_delete {
  color: red;
  font-family: "Jaro", sans-serif;
}
.delete-account-button {
  background-color: white;
  color: red;
  border: red solid 2px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 140px;
  font-size: 14px;
  font-family: "Jaro", sans-serif;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 80%;
}
.cancel-button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Jaro", sans-serif;
  border: 2px solid black;
}
.cancel-button:hover {
  background-color: #e94eae;
}
.save-button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Jaro", sans-serif;
}
.save-button:hover {
  background-color: #e94eae;
}
