.react-calendar__container {
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #fdd504, #f5f5f5);
  padding: 25px 0 25px;
}

.react-calendar__navigation {
  background-color: #ffc0cb;
}

.react-calendar__month-view__weekdays__weekday {
  color: #01bfe4;
}
