.toggle_switch-theme {
  position: relative;
  border: 2px solid #bdbcbc;
  cursor: pointer;
  overflow: hidden;
  width: 60px;
  height: 25px;
  margin: 0;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
  background-color: #bdbcbc;
}
.toggle_switch-theme:hover {
  border: 2px solid rgb(246, 8, 111);
}

.toggle_switch-theme__checkbox {
  opacity: 0;
}
.toggle_switch-theme__checkbox:checked ~ .toggle_switch-theme__square {
  left: 35px;
}
.toggle_switch-theme__square {
  background-color: white;
  width: 30px;
  height: 25px;
  position: absolute;
  left: 0;
  transition: all 0.25s;
  border-radius: 5px;
}
.toggle_switch-theme__text {
  position: absolute;
  top: 30%;
  font-size: 12px;
  font-family:
    DM Sans,
    sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #000;
  border-style: none;
}
.toggle_switch-theme__text-light {
  left: 3px;
}
.toggle_switch-theme__text-dark {
  right: 3px;
}
