.header {
  margin: 0;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 28px;
}

.header__description-container {
  margin-top: 30px;
  background: #96a7c5;
  display: flex;
  justify-content: center;
}

.header__description-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
  font-size: 20px;
}

.header__description-title {
  font-family: "Jaro", sans-serif;
  font-size: 100px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 240px;
  overflow-wrap: break-word;
  text-align: justify;
  padding-right: 50px;
  color: #f5f5f5;
}

.header__description-logo {
  width: 844px;
  height: 309.8px;
  padding: 20px;
}
.header__description-desktop {
  display: block;
  margin: 0;
}
.header__description-mobile {
  display: none;
}
@media screen and (max-width: 627px) {
  .header__description-desktop {
    display: none;
  }
  .header__description-mobile {
    display: block;
  }
}
