.header {
  margin: 0;
  padding: 0;
}
.header__container {
  display: flex;
  background-color: #f0af17;
}

.header__title {
  margin: 0;
}
.header__description-container {
  margin: 3px 0 0 0;
  padding: 50px;
  background: #96a7c5;
}
.header__description-title {
  font: 120px "Jaro";
}
.header__description-desktop {
  display: block;
  display: flex;
  justify-content: flex-end;
}
.header__description-mobile {
  display: none;
}
@media screen and (max-width: 627px) {
  .header__description-desktop {
    display: none;
  }
  .header__description-mobile {
    display: block;
  }
}
