.header {
  margin: 0;
  padding: 0;
}
.header__container {
  display: flex;
  background-color: #f0af17;
}

.header__title {
  margin: 0;
}
.header__description-container {
  margin: 3px 0 0 0;
  background: #96a7c5;
  display: flex;
  justify-content: space-between;
}
.header__description-title {
  font-family: "Jaro", sans-serif;
  font-size: 80px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 642px;
}
.header__description-logo {
  width: 844px;
  height: 409.8px;
  padding: 20px;
}
.header__description-desktop {
  display: block;
  margin: 0;
}
.header__description-mobile {
  display: none;
}
@media screen and (max-width: 627px) {
  .header__description-desktop {
    display: none;
  }
  .header__description-mobile {
    display: block;
  }
}
