.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: right;
  /*flex-direction: column;*/
}
.navbar__container {
  display: flex;
  justify-content: space-evenly;
  background-color: #f0af17;
  /*flex-direction: column;*/
}
.navbar__mobile-only-icon {
  display: none;
  width: 32px;
  height: 32px;
}
.navbar__link {
  text-decoration: none;
}

@media screen and (max-width: 627px) {
  .navbar {
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar__mobile-only-icon {
    display: block;
  }
}
