.navbar {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  right: 10px;
  justify-content: flex-end;
  z-index: 1000;
  padding: 0;
}
.navbar__container {
  display: flex;
}
.navbar__mobile-only-icon {
  display: none;
  width: 32px;
  height: 32px;
}
.navbar__link {
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 627px) {
  .navbar {
    bottom: 0px;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar__container {
    background: #fafaf8f2;
    outline-style: 2px solid #0000;
    position: fixed;
    bottom: 50px;
    width: 327px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #593a16;
    border-radius: 20px;
  }
  .navbar__mobile-only-icon {
    display: block;
  }
  .navbar__link {
    color: #4a5565;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
