.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /*flex-direction: column;*/
  align-items: center;
}
.navbar__container {
  display: flex;
  justify-content: space-evenly;
  /*flex-direction: column;*/
  align-items: center;
}
.navbar__icon {
  width: 32px;
  height: 32px;
}
.navbar__link {
  text-decoration: none;
}
