.navbar {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  right: 10px;
  justify-content: flex-end;
  z-index: 1000;
  padding: 0;
}
.navbar__container {
  display: flex;
}
.navbar__mobile-only-icon {
  display: none;
  width: 32px;
  height: 32px;
}
.navbar__link {
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  font-family:
    DM Sans,
    sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

@media screen and (max-width: 627px) {
  .navbar {
    bottom: 0px;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar__container {
    background: #fafaf8f2;
    outline-style: 2px solid #0000;
  }
  .navbar__mobile-only-icon {
    display: block;
  }
  .navbar__link {
  }
}
