.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;

  justify-content: flex-end;
  z-index: 1000;
  padding: 5px;
  background-color: #f8d120;
  line-height: 24px;
}
.navbar__container {
  display: flex;
  line-height: 24px;
  align-items: center;
  align-items: center;
}
.logo__container {
  left: 0;
  display: flex;
  align-items: left;
  padding-left: 20px;
  position: absolute;
}
.logo__title {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
}
.navbar__mobile-only-icon {
  display: none;
  width: 32px;
  height: 32px;
}
.navbar__link {
  text-decoration: none;
  padding: 0 15px;
  font-size: 20px;
  font-family:
    DM Sans,
    sans-serif;
  font-weight: 500;
  line-height: 24px;
  color: #000;
}

@media screen and (max-width: 627px) {
  .navbar {
    bottom: 0px;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
  }
  .navbar__container {
    background: #fafaf8f2;
    outline-style: 2px solid #0000;
    position: fixed;
    bottom: 50px;
    width: 327px;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid #593a16;
    border-radius: 20px;
  }
  .logo__container {
    display: none;
  }
  .navbar__mobile-only-icon {
    display: block;
  }
  .navbar__link {
    color: #4a5565;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
