.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
