.people {
  display: flex;
  flex-direction: column;
  gap: 20px;
<<<<<<< HEAD
  background:linear-gradient(to right, #FF657B, white);
=======
  background-color: #593a16;
  background-image: linear-gradient(to right, #ff657b, #f5f5f5);
>>>>>>> f0d3833c28a4811533aeef1af3f485160c95fa2f
  height: 100%;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 100%;
}

.people__settings-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

.people__title {
  font-family: Poppins;
  font-size: 24px;
  color: white;
  margin-top: 25px;
}

.people__subtitle {
  font-family: Poppins;
  font-size: 16px;
  color: white;
  margin: 0;
}

.people__title-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.people__title-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
