.people {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(to right, #ff657b, white);
  background-color: #593a16;
  background-image: linear-gradient(to right, #ff657b, #f5f5f5);
  height: 100%;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 100%;
}

.people__settings-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

.people__title {
  font-family: Poppins;
  font-size: 24px;
  color: white;
  margin-top: 25px;
}

.people__subtitle {
  font-family: Poppins;
  font-size: 16px;
  color: white;
  margin: 0;
}

.people__title-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.people__title-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.people__new-memory-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.people__new-memory {
  max-width: 320px;
  height: 65px;
  color: #f5f5f5;
  background-color: #96a7c5;
  border: 3px solid #f5f5f5;
  border-radius: 15px;
  font-size: 20px;
  flex-grow: inherit;
  padding: 20px;
}
