.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: #ddcea7;
}
.section-container {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}
