.settings-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
  padding: 30px;
  background-color: #ddcea7;
}
.section-container {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}
.section-header {
  margin: 0;
}
.section-description {
  margin: 0;
}
.selection-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-icon {
  margin-right: 5px;
}
.pdf-style-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdf-style-radio {
  margin-right: 10px;
  display: flex;
}
.pdf-style-label {
  display: flex;
  align-items: center;
}

.pdf-option-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-right: 20px;
  border: 2px solid black;
  align-items: flex-end;
}
.pdf-image {
  width: 30px;
  height: 30px;
  align-self: center;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancel-button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Jaro", sans-serif;
  border: 2px solid black;
}
.cancel-button:hover {
  background-color: #e94eae;
}
.save-button {
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-family: "Jaro", sans-serif;
}
.save-button:hover {
  background-color: #e94eae;
}
