.settings-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
  padding: 30px;
  background-color: #ddcea7;
}
.section-container {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}
.section-icon {
  margin-right: 5px;
}
.pdf-style-options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdf-style-radio {
}
.pdf-option-container {
  display: flex;
  flex-direction: column;

  margin-right: 20px;
  border: 2px solid black;
  align-items: flex-end;
}
.pdf-image {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
